# Protect build scripts
*.js	@melikechan

# Protect NPM files
*.json	@melikechan

# Protect MIRRORS.md
/MIRRORS.md	@melikechan

# Protect .github & others
/.github/	@melikechan
/.gitattributes @melikechan

# Protect README.md (restricted to degoogle-bot)
/README.md	@degoogle-bot
